html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  outline: 2px solid yellow; }

body {
  margin: 0 auto;
  font-family: "Merriweather", serif;
  font-size: 100%;
  line-height: 1.625em;
  text-align: center;
  background-color: #fff;
  color: #222;
  -webkit-font-smoothing: antialiased; }

header {
  background: url("../img/back_spacecowboy.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.siteheader {
  max-width: 60em;
  height: 25em;
  margin: 0 auto; }

.nav {
  display: block;
  margin: 0;
  padding: 0; }
  .nav:before, .nav:after {
    content: " ";
    display: table; }
  .nav:after {
    clear: both; }

.menu {
  position: relative;
  float: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 0; }
  .menu li {
    display: inline-block;
    margin-left: 1.25em; }
  .menu a {
    text-decoration: none;
    color: #fff; }

main h1 {
  margin: 0;
  padding: 3.125em 6.25em 0.625em;
  font-size: 2.0625em; }

main h2 {
  margin: 0;
  font-size: 1.125em; }

main h1, main h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  line-height: 1.25em;
  font-family: "Montserrat", sans-serif; }

#toggle, .toggle {
  display: none; }

@media only screen and (max-width: 43.75em) {
  .menu {
    display: none;
    opacity: 0;
    width: 100%;
    position: absolute;
    right: 0; }
  .menu > li {
    display: block;
    width: 100%;
    margin: 0; }
  .menu > li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box; }
  .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #toggle:checked + div .menu {
    display: block;
    opacity: 1; } }
