//
// VARIABLES
// -------------------------------------------------------

$color-bg-page: #222;
$color-bg-light: #ACB1B5;
$color-text-dark: #222;
$color-text-light: #fff;
$color-web: #FFDC08;

$font-size-basic: 100%;
$font-family-1: 'Merriweather', serif;
$font-family-2: 'Montserrat', sans-serif;



//
//	MIXINS
// ------------------------------------------------------

// Prepocet na hodnoty EM pre responzivny dizajn!!!
@function em($size, $context: 16) {
	@return ($size / $context) + em;
}

@mixin font-size($size, $context: 16) {
	font-size: em($size, $context);
}


@mixin box-sizing( $value ) {
	box-sizing: $value;
}


// pre zmenu sirky MAIN bazena v ktorom su dalsie 3 boxy napr: 
// @include main(em(960));
@mixin main( $width ) {
	max-width: $width;
    margin: 0 auto;
    padding: 0 em(20);
}

// @include clearfix; tento zapis pridat k rodicovskemu elementu class ktory ma floatovane deti
@mixin clearfix {
	&:before,
	&:after { content: " "; display: table; }
	&:after { clear: both; }
}

// @include btn;
@mixin btn {
    text-decoration: none;
    color: $color-text-dark;
    font: {
        family: $font-family-2;
        size: em(12);
        weight: 700;
        }
    text-transform: uppercase;
    background-color: #ffff00;/* For browsers that do not support gradients */
    background: linear-gradient( #ffff00, #ffd105);
    padding: em(15) em(60);
    margin: {
        top: em(50);
        }
    border-radius: em(5);
}

// vykreslenie hranic elementov
//*{outline: em(2) solid yellow;}

//box-sizing
html { @include box-sizing(border-box); }
*, *:before, *:after { box-sizing: inherit; }



// CODE
body {
    margin: 0 auto;
    font: {
        family: $font-family-1;
        size: $font-size-basic;
        }
    line-height: em(26);
    text-align: center;
    background-color: $color-bg-page;
    color: $color-text-dark;

    -webkit-font-smoothing: antialiased;
}

// SCROLL ARROW FOR BACK TO TOP SIPKA

.back-to-top {
    color: #fbff08;
    position: fixed;
    bottom: em(5);
    right: em(30);
    z-index: 10;
    display: block;
    opacity: 0.7;
    &:hover, &:focus {
        opacity: 1;
        transition: opacity .2s;                   
        }
}

// FADEIN BACKGROUND ON TOP WEB PAGE
    
#cover {
	height: auto;
    min-height: em(55);
}

.container {
    position: relative;
    z-index: 1;
}

.topbackground {
    width: 100%;
    height: auto;  
}

.cover {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    overflow: hidden;
    background: url('../img/back_spacecowboy.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

// MENU NAVIGATION

.background_scroll {
    position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    height: em(75);
    background-color: rgba(0, 0, 0, 0.85);
}

.top {
    position: fixed;
    width: 100%;
    z-index: 1;
    color: $color-text-light;
}

.cont-logo-menu {
    @include main(em(960));
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
}

.logo {
    padding: em(10) em(20);
    border-radius: 55%;
    transform: scale(0.85);
    transition: all 0.6s linear;
}

.logo {
    &:hover, &:focus{
        margin: {
            top: em(5);
            left: em(5);
        }
        transform: scale(1);
    }
}

/*#cover ul > li > a:hover,
#cover ul > li > a:active,
#cover ul > li > a:focus,
#cover ul > li,
.selected {
    color: $color-web;
    border: none;
    text-decoration: none;
}*/

.menu {
    margin: em(30) auto;
    font: {
        family: $font-family-2;
        weight: 700;
        size: em(12);
    }
    text-transform: uppercase;
    letter-spacing: em(2);
    padding: {
        left: 0;
    }
        li {
            display: inline-block;
            margin-left: em(20);
            &:last-child {
                margin-right: em(20);
            }
            a {
                text-decoration: none;
                &:hover {
                    color: $color-web;
                }
            }
        }
}

.font-white {
    text-decoration: none;
    color: $color-text-light;
}

.font-yellow {
    text-decoration: none;
    color: $color-web;
}

// HEAD INFO TOPIC

.siteheader {
    @include main(em(960));
    h1 {
        margin: 0;
        padding: em(100) 0 em(10);
        font: {
            size: em(33);
        }
        line-height: em(20);
    }
    h2 {
        margin: 0;
        font: {
            size: em(21);
        }
    }
    h1, h2 {
        color: $color-text-light;
        text-transform: uppercase;
        letter-spacing: em(1);
        font: {
            family: $font-family-2;
        }
    }
}

// BUTTONS
 
.btn {
    margin: em(100) auto;
    a {
        @include btn;
    }
}

.btn a, .send {
    transition: all .2s linear;
    &:hover, &:focus {
        box-shadow: 0 0 0.313em $color-web,
                    0 0 1.563em $color-web,
                    0 0 3.125em $color-web,
                    0 0 6.25em $color-web;
        } 
}

// SETTINGS FOR SECTONS OF WEB

.line {
    display: block;
    position: relative;
    padding: em(90) 0 em(100);
    min-height: em(550);
}

.line_light {
    background-color: #DFDFE1;
    color: $color-text-dark;
}

.line_dark {
    background-color: $color-bg-page;
    color: $color-text-light;
}

// TOPICS OF SECTIONS

.topic {
    @include main(em(960));
    
    h1, h3 {
        margin: 0;
        text-transform: uppercase;
        font: {
            family: $font-family-2;
            }
        }
    h1 {
       line-height: em(20); 
    }
}

.about_our_company {
     margin: em(40) 0;
}

// SECTIONS WITH 3 BOX TEXT INFO

.notes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow:  wrap;
    margin-top: em(100);
    .text_box {
        max-width: em(300);
        min-height: em(270);
        background-color: #fff;
        box-shadow: 0 0 em(20) rgba(0, 0, 0, 0.2);
        margin: {
            top: em(40);
        }
        padding: 0 em(30) em(30);
        border-radius: em(2);
        p {
            font-size: em(12);
            }
        h3 {
            margin: em(50) 0 0;
            }
        transform: scale(0.95);
        transition: all 0.6s linear;
        &:hover, &:focus {
            transform: scale(1);
            }
        }
}

.text_box:nth-child(1) { order: 1; flex-grow: 1; flex-basis: em(300); }
.text_box:nth-child(2) { order: 2; flex-grow: 1; flex-basis: em(300); }
.text_box:nth-child(3) { order: 3; flex-grow: 1; flex-basis: em(300); }

.icona {
    position: absolute;
    width: em(64);
    height: em(64);
    padding-top: em(16);
    top: 0;
    left: 50%;
    margin: {
        top: em(-32);
        left: em(-32);
    }
    border-radius: 50%;
    background-color: $color-web;
    img {
        width: em(32);
    }
}

// CARDS OF MEMBERS
// BACKGROUNDS SECTIONS CARDS OF MEMBERS

.universe {
    background: url('../img/universe_darken.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

// MEMBERS DISPLAY FLEX
.prevbtn, .nextbtn {
    display: none;
}

.team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flip-card {
    margin: em(10) em(10);
}

.flex-card{
    &:nth-child(3) {
        margin-right: 0;
        }
    &:last-child {
        margin-right: 0;
        }
    &:first-child {
        margin-left: 0;
        }
}

.member {
    max-width: em(135);
    border-radius: em(3);
}

// FLIP CARDS OF MEMBERS

.flip-card {
    width: em(270);
    height: em(150);
    background: url('../img/universe.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: em(3);
    transition: all 0.3s linear;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
}

.flip-card-front {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

label:hover .flip-card  {
    transform: rotateX(20deg);
    box-shadow: 0 em(20) em(20) rgba(255,255,255,0.5);
}

:checked + .flip-card .flip-card-inner {
    transform: rotateX(180deg);
}
 
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
  }

.flip-card-back {
    transform: rotateX(180deg);
    border-radius: em(3);
    background-color: $color-bg-page;
    color: lightgrey;
    p {
        margin: em(20) 0 em(40);
        text-transform: uppercase;
        color: #454A4E;
        font: {
            family: $font-family-2;
            size: em(9);
            weight: 700;
            }
        letter-spacing: em(2);
        }
    q {
        font: {
            size: em(14);
            style: italic; 
            }
        }
}

// INFO IN CARDS MEMBERS

.cut {
    padding-top: em(35);
    padding-left: em(10);
    text-align: left;
    text-transform: uppercase;
    span {
        text-transform: lowercase;
    }
    h3 {
        line-height: em(18);
    
        font: {
            size: em(15);
            family: $font-family-2;
        }
    }
    p {
        line-height: em(18);
        margin-bottom: em(26);
        font: {
            size: em(10);
            family: $font-family-2;
            
        }
        letter-spacing: em(1);
    }
}

// GALLERY GRID
.gallery_padding {
    padding: 0 em(20);
}

.gallery-set {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    .pict {
        vertical-align: middle;
        max-width: em(300);
        height: auto;
        opacity: .5;
        border: em(3) solid #222;
        border-radius: em(4);
        }
}

// GALLERY + LIGHTBOX
#overlay{
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    padding: em(100);
    // VELKOST OKNA OBRAZKA v LIGHTBOXE
    // VELKOST IMG 
    .pict {
        max-width: 100%;
        max-height: auto;
        border: em(4) solid #aaa;
        border-radius: em(7);
        }
}



/* Next & previous buttons */
.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: pointer;
    position: relative;
    min-width: em(150);
    margin: em(20);
    font-weight: bold;
    font-size: em(9);
    font-family: $font-family-2;
    color: rgba(255, 255, 255, .5);
    opacity: 0.5;
    transition: 0.6s ease;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    -webkit-user-select: none;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    opacity: 1;
}

/* The Close Button */
/* ZAVRETIE LIGHTBOX */
.close {
    position: absolute;
    top: em(160);
    left: 50%;
    margin-left: em(-16);
    transition: 0.6s ease;
    opacity: 0.5;
}
  
.close:hover,
.close:focus {
    opacity: 1;
    cursor: pointer;
}

// FORMULAR
.contact {
    background-color: $color-bg-light;
    .about_our_company {
        margin-bottom: em(20);
    }
}

.form-container {
    max-width: em(450);
    margin: 0 auto;
}

.pool {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formular {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
        div {
            padding-top: em(30);
        }
        div:nth-child(1) { order: 1; flex-grow: 1; }
        div:nth-child(2) { order: 2; flex-grow: 1; }
        div:nth-child(3) { order: 3; flex-grow: 1; flex-basis: 100%; }
}

input, textarea {
    background-color: #fff;
    color: #aaa;
    border: none;
    min-width: em(300);
    padding: em(15);
    border-radius: em(7);
    font: {
        size: em(11);
        family: $font-family-2;
        weight: 700;
        }
    box-shadow: 0 em(1) em(4) rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 em(1) em(4) rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

textarea {
    height: em(200);
    resize: none;
}

// MARGIN MEDZI RIADKAMI Meno, Mail...
input {
    margin-bottom: em(26.2);
    &:last-child {
        margin-bottom: 0;
    }
}

// BUTTON FORMULARA

button {
    color: $color-text-dark;
    font: {
        family: $font-family-2;
        size: em(11);
        weight: 700;
        }
    text-transform: uppercase;
    background-color: #ffff00; /* For browsers that do not support gradients */
    background: linear-gradient( #ffff00, #ffd105);
    padding: em(8) em(50);
    border-radius: em(5);
    border: none;
    
}

// FOOTER

footer {
    font-family: $font-family-2;
    color: dimgrey;
    padding-bottom: em(20);
    p {
        font-size: em(12);
        margin-bottom: 0;
    }
}

.footlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    span {
        margin: 0 em(15);
    }
    img {
        padding-top: em(10);
        opacity: 0.3;
    }
}

#toggle, .toggle { display: none; }

@media only screen and (max-width: em(1000)) {
    .flip-card {
        width: em(240);
        height: em(120);
        .member {
            max-width: em(120);
        }
    }

    .cut {
        font-size: em(13);
    }

    .gallery-set {
        .pict {
            max-width: em(250);
            height: auto;
        }
    }

    .prev,.next {
        margin: 0;
        img {
            width: em(44);
        }
    }
}

@media only screen and (max-width: em(840)) {
    .flip-card {
        width: em(210);
        height: em(110);
        .member {
            max-width: em(100);
        }
    }

    .cut {
        padding-top: em(45);
        font-size: em(11);
    }
}

@media only screen and (max-width: em(810)) {
    .gallery-set {
        .pict {
            max-width: em(190);
            height: auto;
            }
    }

}

@media only screen and (max-width: em(770)) {
    .flip-card {
        width: em(180);
        height: em(100);
        .member {
            max-width: em(90);
        }
    }

    .cut {
        padding-top: em(40);
        font-size: em(10.5);
    }

}

@media only screen and (max-width: em(700)) {
	.menu { display: none; opacity: 0; width: 100%; position: absolute; right: 0; }
	.menu > li { display: block; width: 100%; margin: 0; }
	.menu > li > a { display: block; width: 100%; text-decoration: none; box-sizing: border-box; }
    .toggle {
        display: block;
        position: relative;
        cursor: pointer; 
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
	#toggle:checked + div .menu { display: block; opacity: 1;}
}

@media only screen and (max-width: em(700)) {
    input, textarea {
        font-size: em(16);
        min-width: em(300);
    }

	.menu {
        position: absolute;
        top: 0;
        z-index: -1;
        li:first-child a {
            padding-top: em(100);
        }
        li:last-child a {
            padding-bottom: em(120);
        }
    }

    .menu, 
    .menu > li, 
    .menu > li > a {
        margin: 0;
        height: auto;
        font-size: em(19);
    }
    
	.menu > li > a {
        padding: em(12);
        background-color: $color-bg-page;
        color: $color-text-light;
    }
    
	.menu > li > a:hover, .menu > li > a:focus {
        color: $color-web;
        background-color: $color-bg-page;
    }
	
	.toggle:after {
        content: attr(data-open);
        display: block;
        font: {
            size: em(14);
            family: $font-family-2;
            weight: 700; /* 12px */
            }
        margin: {
            top: em(25);
            right: em(40);
            }
        padding: em(5) em(15);
        background-color: $color-bg-page;
        color: $color-text-light;
        border-radius: em(4);
        border: em(2) solid $color-text-light;
        letter-spacing: em(1);
		text-transform: uppercase;
		text-align: center;
		transition: all 0.5s linear;
        box-sizing: border-box;
    }

    .toggle:hover:after {
        color: $color-web;
    }
    
	#toggle:checked + div .toggle:after {
        content: "✖  " attr(data-close);
        letter-spacing: em(1);
    }
}

@media only screen and (max-width: em(660)) {
    .prevbtn, .nextbtn {
        display: block;
        transition: all 0.5s linear;
        opacity: .5;
        //margin: 0 em(100);
    }

    .prevbtn, .nextbtn {
        &:hover, &:focus {
            opacity: 1;
        }  
    }

    .container-card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .team {
        order: 1;
        flex-grow: 1;
        flex-basis: 100%;
    }

    .prevbtn {
        order: 2;
    }

    .nextbtn {
        order: 3;
    }

    .flip-card {
        width: em(350);
        height: em(190);
        margin: em(40) auto;
        .member {
            max-width: em(175);
        }
    }

    .flip-card-back {
        font-size: em(20);
    }
    .cut {
        padding-top: em(55);
        font-size: $font-size-basic;
    }

    .team label {
        display: none;
    }

    .team label.active {
        display: inline-block;
    }
}

@media only screen and (max-width: em(630)) {
    .gallery-set {
        .pict {
            max-width: em(150);
            height: auto;
        }
    }

    #overlay {
        padding: em(70);
    }
    
    .next, .prev {
        font-size: em(7);
        min-width: em(150);
    }
}

@media only screen and (max-width: em(510)) {
    .gallery-set {
        .pict {
            max-width: em(120);
            height: auto;
        }
    }

    .back-to-top {
        font-size: em(12);
        margin-right: em(-10);
    }
}



